<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
    <div class="main_content">
    {{>header}}
    <p>Yes, it was me that done it ...</p>
    <p>This sites uses the <a href="https://darksky.net/">darksky.api</a> and the <a href="https://www.mapbox.com/">mapbox.api</a></p>
    <img class="portrait" src="/img/me.jpeg">
    </div>
    {{>footer}}
    </body>
</html>